.module{
	width:100%;
	height:573px;
	background-color: grey;
	margin-bottom: 20px;
	border-radius: 10px;
}
.conversation_container{
	width:100%;
	background-color: grey;
	display:inline-block;
	float:left;

}
.left_img_col{
	height:4000px;
	width:10%;
	background-color: red;
	float:left;
	display:inline-block;
	z-index: 99;
}
.right_img_col{
	height:4000px;
	width:10%;
	background-color: blue;
	float:right;
	display:inline-block;
	z-index: 99;
}
.text_col{
	display:inline-block;
	width:72%;
	padding: 4%;
}
.profile_img{
	width:100%;
	margin-top: 50%;
	height:30px;
	color:black;
	border-radius: 50px;
	z-index: 100;
}
@media only screen and (max-width : 300px) and (min-width : 0px) {
	.columns{
		width:86%;
		margin-left: 7%;
		background-color: ;
	    -webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;
	    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
	    -moz-column-gap: 40px; /* Firefox */
	    column-gap: 40px;
	}
	.conversation_container{
		width:90%;
		margin-left: 5%;
	}
	.text_col{
		width:;
		display:inline-block;
	}
}
/* iPhone 5 and iPhone 6 Portrait */
/* One Column */
@media only screen and (max-width : 425px) and (min-width : 300px) {
	.columns{
		width:86%;
		margin-left: 7%;
		background-color: ;
	    -webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;
	    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
	    -moz-column-gap: 40px; /* Firefox */
	    column-gap: 40px;
	}
	.conversation_container{
		width:90%;
		margin-left: 5%;
	}
	.text_col{
		width:;
	}
}
@media only screen and (max-width : 550px) and (min-width : 426px) {
	.columns{
		width:76%;
		margin-left: 12%;
		background-color: ;
	    -webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;
	    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
	    -moz-column-gap: 40px; /* Firefox */
	    column-gap: 40px;
	}
	.conversation_container{
		width:90%;
		margin-left: 5%;
	}
	.text_col{
		width:;
	}
}
/* iPad Mini and iPad Portrait */
/* Two Columns */
@media only screen and (max-width : 1200px) and (min-width : 551px) {
	.columns{
		width: 90%;
		margin-left: 5%;
		background-color: ;
	    -webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
	    -webkit-column-gap: 4%; /* Chrome, Safari, Opera */
	    -moz-column-gap: 4%; /* Firefox */
	    column-gap: 4%;
	}
	.conversation_container{
		width:90%;
		margin-left: 5%;
	}
}
@media only screen and (max-width : 900px) and (min-width : 730px) {
	.columns{
		width: 80%;
		margin-left: 10%;
		background-color: ;
	    -webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
	    -webkit-column-gap: 4%; /* Chrome, Safari, Opera */
	    -moz-column-gap: 4%; /* Firefox */
	    column-gap: 4%;
	}
	.conversation_container{
		width:80%;
		margin-left: 10%;
	}
	.text_col{
		width:;
	}
}
/* Desktop */
@media only screen and (max-width : 1149px) and (min-width : 900px) {
	.columns{
		width:86%;
		margin-left: 7%;
		background-color: ;
	    -webkit-column-count: 3; /* Chrome, Safari, Opera */
	    -moz-column-count: 3; /* Firefox */
	    column-count: 3;
	    -webkit-column-gap: 4%; /* Chrome, Safari, Opera */
	    -moz-column-gap: 4%; /* Firefox */
	    column-gap: 4%;
	}
	.conversation_container{
		width:86%;
		margin-left: 7%;
	}
	.text_col{
		width:;
	}
}
@media only screen and (max-width : 1300px) and (min-width : 1150px) {
	.columns{
		width:80%;
		margin-left: 10%;
		background-color: ;
	    -webkit-column-count: 3; /* Chrome, Safari, Opera */
	    -moz-column-count: 3; /* Firefox */
	    column-count: 3;
	    -webkit-column-gap: 4%; /* Chrome, Safari, Opera */
	    -moz-column-gap: 4%; /* Firefox */
	    column-gap: 4%;
	}
	.conversation_container{
		width:80%;
		margin-left: 10%;
	}
	.text_col{
		width:;
	}
}
@media only screen and (max-width : 3000px) and (min-width : 1301px) {
	.columns{
		width:70%;
		margin-left: 15%;
		background-color: ;
	    -webkit-column-count: 3; /* Chrome, Safari, Opera */
	    -moz-column-count: 3; /* Firefox */
	    column-count: 3;
	    -webkit-column-gap: 4%; /* Chrome, Safari, Opera */
	    -moz-column-gap: 4%; /* Firefox */
	    column-gap: 4%;
	}
	.conversation_container{
		width:70%;
		margin-left: 15%;
	}
	.text_col{
		width:;
	}
}



